<mat-form-field appearance="outline" class="app-input">
  <mat-label *ngIf="label">
    {{ label }}<span *ngIf="required" class="app-input__required">&nbsp;*</span>
  </mat-label>

  <mat-icon matPrefix *ngIf="icon" class="app-input__icon">{{ matIconName }}</mat-icon>
@if(autocompletePanel){
<input
    matInput
    [type]="type"
    [placeholder]="placeholder"
    [value]="value"
    [disabled]="disabled"
    [attr.min]="min"
    [matAutocomplete]="autocompletePanel"
    (input)="handleInput($event)"
    (blur)="handleBlur()"
  />
}@else{
<input
    matInput
    [type]="type"
    [placeholder]="placeholder"
    [value]="value"
    [disabled]="disabled"
    [attr.min]="min"
    (input)="handleInput($event)"
    (blur)="handleBlur()"
  />
}

  

  <mat-error *ngIf="hasError && errorMessage">{{ errorMessage }}</mat-error>
</mat-form-field>