@switch (variant) {
  @case ('secondary') {
    <button
      mat-stroked-button
      color="primary"
      [type]="type"
      [disabled]="disabled || loading"
      class="app-button"
      [class.app-button--full]="fullWidth"
    >
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </button>
  }
  @case ('text') {
    <button
      mat-button
      color="primary"
      [type]="type"
      [disabled]="disabled || loading"
      class="app-button"
      [class.app-button--full]="fullWidth"
    >
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </button>
  }
  @default {
    <button
      mat-flat-button
      color="primary"
      [type]="type"
      [disabled]="disabled || loading"
      class="app-button"
      [class.app-button--full]="fullWidth"
    >
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </button>
  }
}

<ng-template #content>
  <mat-progress-spinner
    *ngIf="loading"
    diameter="20"
    mode="indeterminate"
    class="app-button__spinner"
  ></mat-progress-spinner>
  <span *ngIf="!loading" class="app-button__label">
    @if (icon != '') {
      <mat-icon>{{ icon }}</mat-icon>
    }
    <span>{{ label }}</span>
  </span>
</ng-template>
